.header-table-screen {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  align-items: center;
  padding: 0 0.8rem 0;
  height: 6rem;
}

h1 {
  text-align: center;
  font-size: clamp(1.2rem, 6vw, 2rem);
}

.menu-table-screen {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1vw;
}

.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: #bdbdff;
  color: #330072;
  font-weight: bold;
  border-radius: 50%;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.invite-players-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #f6f7fc;
  font-size: 14px;
  transition: box-shadow 0.2s linear;
}

.invite-players-btn:hover {
  box-shadow: 0 0 1.3rem #f6f7fcad, 0 0 1.3rem #f6f7fca6 inset;
}

.invite-player-text {
  display: none;
}

.user-plus {
  fill: #f6f7fc;
  width: 1rem;
  height: 1rem;
}

@media (min-width: 479px) {
  .header-table-screen {
    padding: 1rem 2rem;
  }
  .menu-table-screen {
    flex-direction: row;
    justify-content: flex-end;
  }

  .invite-players-btn {
    width: auto;
    padding: 0.3rem 0.6rem;
    background-color: rgb(8, 8, 8);

    font-weight: 500;
    border: 1px solid white;
    border-radius: 1.5rem;
  }

  .invite-player-text {
    display: flex;
    text-wrap: wrap;
  }

  .user-plus {
    fill: #f6f7fc;
    display: none;
  }
}

@media (min-width: 1024px) {
  .header-table-screen {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1440px) {
  .header-table-screen {
    padding: 2rem 3rem;
  }
}
